@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 226, 232, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 232, 240;
    --background-rgb: 15, 23, 42;
  }
}
html {
}
/* -webkit-font-smoothing: antialiased;*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
